beautifulsoup4
black
cdsapi
cf_units
gitpython
h5py
iris
joblib
jupyter
# These packages don't work well at the moment!
# conda-forge
# jupyter_contrib_nbextensions  
# conda-forge, https://github.com/Jupyter-contrib/jupyter_nbextensions_configurator
# jupyter_nbextensions_configurator  
matplotlib
netCDF4
# conda-forge
nbstripout
numpy
pandas
pyhdf
pytest
rasterio
scikit-learn
scipy
statsmodels
tqdm
rasterio
requests
